<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/Add/" method="post">
        <p>Title: <input type="text" name="Title" value=""></p>
        <p>Content: <input type="text" name="Content" value=""></p>
        <p><input type="submit" value="Submit"></p>
    </form>

    <form action="http://127.0.0.1:5000/Query/" method="post">
        <p><input type="submit" value="Query"></p>
    </form>
</body>
</html>